:root {
  --link-color: #007bff;
}

body {
  font-family: sans-serif;
  background-color: #DDD;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  background-color: white;
  padding: 0;
  border: 1px solid #888;
  box-shadow: rgba(0, 0, 0, 0.22) 0 2rem 8rem;
}

.warning {
  background-color: #cc3300;
}

.warning h1 {
  margin-left: 2rem;
}

.warning h2 {
  margin-left: 2rem;
}

header, main {
  padding: 3rem;
}
header {
  background-color: #4c83b6;
  color: white;
}

h1 {
  margin-top: 0;
}


.route {
  margin-bottom: 3rem;
  margin-left: 2rem;
  max-width: 1000px;
}

.route h3 {
  margin-left: -2rem;
  font-family: monospace;
}


table.items {
  border-spacing: 1px;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
}

table.items th {
  text-align: left;
}

table.items th, table.items td {
  padding: 3px;
  border: 1px solid #EEE;
}

td.item-name {
  width: 25%;
}

td.item-type {
  width: 15%;
}

td.item-desc {
  width: 60%;
}



a.permalink {
  display: none;
}
:hover > a.permalink {
  display: inline;
  position: relative;
  top: 0.125em;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 0;
  color: var(--link-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.button {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #81a8cb;
  border: #4c83b6;
}
