:root {
  --link-color: #007bff;
}

body {
  font-family: sans-serif;
  background-color: #DDD;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  background-color: white;
  padding: 0;
  border: 1px solid #888;
  box-shadow: rgba(0, 0, 0, 0.22) 0 2rem 8rem;
}

.warning {
  background-color: #cc3300;
  padding: 1rem;
  margin: 0;
}

main {
  background-color: white;
}

.padded-fully {
  padding: 1rem;
}

.padded-flat-top {
  padding: 0 1rem;
}

header {
  background-color: #4c83b6;
  color: white;
  display: flex;
}

.route {
  margin-bottom: 3rem;
  margin-left: 2rem;
  max-width: 1000px;
}

.route h3 {
  margin-left: -2rem;
  font-family: monospace;
}


table.items {
  border-spacing: 1px;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.85em;
}

table.items th {
  text-align: left;
}

table.items th, table.items td {
  padding: 3px;
  border: 1px solid #EEE;
}

td.item-name {
  width: 25%;
}

td.item-type {
  width: 15%;
}

td.item-desc {
  width: 60%;
}

a.permalink {
  display: none;
}

:hover > a.permalink {
  display: inline;
  position: relative;
  top: 0.125em;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 0;
  color: var(--link-color);
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #81a8cb;
  border: #4c83b6;
}

.title {
  margin: 0;
  text-align: left;
}

.subtitle {
  margin: 0;
  background: aliceblue;
  padding: 1rem;
}

li {
  padding: 0.75rem;
}

.values {
  background-color: lightgray;
  padding: 0.75rem;
}

.emphasized {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.main-menu:hover,.nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:white;
border-right:1px solid #e5e5e5;
top:0;
bottom:0;
height:100%;
left:0;
width:50px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
display:table;
border-collapse:collapse;
border-spacing:0;
color:black;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
padding: 5px;
width:190px;
  font-family: sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

.nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

.nav ul,.nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,.nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page .nav.dashboard-menu ul li:hover a,.dashboard-page .nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}

.menuitem {
  min-width: 40px;
  padding: 0.5rem;
  background-color: white;
}
